/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: "Atma", cursive;

}

#root {
  width: 1024px;
  height: 768px;
  margin: 50px auto;
  border-color: #353535;
  border-radius: 40px;
  border-width: 28px 103px 28px 74px;
  border-style: solid;
  position: relative;
}

#root:before {
  content: "";
  position: absolute;
  left: -80px;
  transform: rotate(270deg);
  background: url(./assets/botnoi.svg)
    no-repeat center center / 100%;
  width: 85px;
  height: 180px;
  top: 40%;
}

#root:after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #5c5c5c;
  position: absolute;
  right: -79px;
  top: 50%;
  border: 1px inset #7b7b7b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//global colors

:root {
  --card-box-shadow: #d5d6dc;
  --card-box-shadow-hover: #aeaeae;
  --card-background: #f3f4f7;
  --coloraddbutton: #7777dc;
  --level-tube-background: #e4e4e4;
  --level-tube-box-shadow: #d4d4d4;
  --level-tube-value-background: #1a70f3;
  --bottom-bar-background: #5656ec;
  --bottom-bar-box-shadow: rgba(51, 51, 217, 0.53);
  --bottom-bar-text-color: #ffffff;
  --modal-outside: rgba(0, 0, 0, 0.4);
  --modal-content-box-shadow: #474444;
  --modal-content-background: #ffffff;
  --search-box-border: #e6e6e6;
}



// .card {
//   box-shadow: var(--card-box-shadow);
//   background-color: var(--card-background);
// }

// .card:hover {
//   box-shadow: var(--card-box-shadow-hover);
// }

// .add-button {
//   color: var(--color-add-button);
// }

// .level-tube {
//   background-color: var(--level-tube-background);
//   box-shadow: var(--level-tube-box-shadow);
// }

// .level-tube-value {
//   background-color: var(--level-tube-value-background);
// }

// .bottom-bar {
//   background-color: var(--bottom-bar-background);
//   box-shadow: var(--bottom-bar-box-shadow);
//   color: var(--bottom-bar-text-color);
// }

// .modal-outside {
//   background-color: var(--modal-outside);
// }

// .modal-content {
//   box-shadow: var(--modal-content-box-shadow);
//   background-color: var(--modal-content-background);
// }

// .search-box {
//   border: 1px solid var(--search-box-border);
// }
